In [23]:
hello_world = 'Hello World'

In [24]:
hello_world

'Hello World'

In [36]:
people = {
         "first_name": ['Yordanis', 'Jane', 'Jhon'],
         "last_name": ['Schafer', 'Doe', 'Perez'],
         "email": ['corey@gmail.com', 'jane@gmail.com', 'john@gmail.com']
}

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame(people)

In [39]:
df

  first_name last_name            email
0   Yordanis   Schafer  corey@gmail.com
1       Jane       Doe   jane@gmail.com
2       Jhon     Perez   john@gmail.com

In [40]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [3]:
df.applymap(len)

NameError: name 'df' is not defined