In [ ]:
# Analizing Covid-19 From Source: https://www.worldometers.info/coronavirus/

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [14]:
cv = pd.read_csv('covid19_3_34.csv')

In [24]:
cv.head(10)

,Country,Total_Cases,New_Cases,Total_Death,New_Deaths,Total_Recov,Active_Cases,Serious,Tot_Cases_1M,Tot_Deaths_1M
0,China,"81,218",47.0,"3,281",4.0,"73,650","4,287","1,399",56,2.0
1,Italy,"69,176",0.0,"6,820",0.0,"8,326","54,030","3,393","1,144",113.0
2,USA,"54,867",44.0,782,4.0,378,"53,707","1,175",166,2.0
3,Spain,"42,058",0.0,"2,991",0.0,"3,794","35,273","2,636",900,64.0
4,Germany,"32,991",0.0,159,0.0,"3,290","29,542",23,394,2.0
5,Iran,"24,811",0.0,"1,934",0.0,"8,913","13,964",0,295,23.0
6,France,"22,304",0.0,"1,100",0.0,"3,281","17,923","2,516",342,17.0
7,Switzerland,"9,877",0.0,122,0.0,131,"9,624",141,"1,141",14.0
8,S. Korea,"9,137",100.0,126,6.0,"3,730","5,281",59,178,2.0
9,UK,"8,077",0.0,422,0.0,135,"7,520",20,119,6.0

In [22]:
cv = cv.fillna(0)